#Python (FastAPI)
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

#Environment and secrets
.env
*.env.local

#IDE
.idea/
.vscode/
*.iml

#Model checkpoints, dataset
*.bin
*.onnx
*.safetensors
distillation/checkpoints/
data/raw/
